<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="generator" content="Hugo 0.98.0">
  <title>Calculadora de Renda per Capita</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/2a9567cddb.js" crossorigin="anonymous"></script>

  <link href="/css/styles.css" rel="stylesheet">
</head>

<body class="text-center">

  <main class="form-signin w-100 m-auto">
    <form action="/" method="post">
      <i class="fa-solid fa-4x fa-dollar-sign "></i>
      <h1 class="h3 mb-3 fw-normal">Calculadora de Renda per Capita</h1>

      <div class="form-floating">
        <input type="text" name="name" class="form-control top" placeholder="Nome Completo (Opcional)" autofocus>
      </div>
      <div class="form-floating">
        <input type="text" name="cep" class="form-control mid" placeholder="CEP" required>
      </div>
      <div class="form-floating">
        <input type="number" name="income" class="form-control mid" placeholder="Renda Mensal" required>
      </div>
      <div class="form-floating">
        <input type="number" name="dependents" class="form-control bot" placeholder="Numero de Dependentes" required>
      </div>

      <button class="w-100 btn btn-lg btn-warning" type="submit">Calcular</button>
      <p class="mt-5 mb-3 text-muted">&copy; Developer Gustavo Leal 2022</p>
    </form>
  </main>

</body>

</html>
